DB_HOST=localhost
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# run `openssl rand -base64 32` to generate JWT_SECRET
JWT_SECRET=

# run `openssl rand -base64 32` to generate ADMIN_API_KEY
ADMIN_API_KEY=

SERVER_PORT=
